extends layout
    
block content
    -var client_view_json = JSON.parse(JSON.stringify(client_view));
    input(type="hidden", id="client_view_json_id", value= client_view_json )
    script.
        var client_view_data= document.getElementById("client_view_json_id");
        function detailFormatter(index, row, $detail) { 
            $detail.ready(function(){
                const  notes = "<p> Notes: " + row.notes + "</p>";
                const createTripRequestURL = "<a class='secondarybutton secondaryLinkButton' href=" + "'../tripRequests/create" + "?clientId=" + row.clientId + "'" +  "</a> Add Trip History";
                $detail.append(notes, createTripRequestURL);
                });
            }
        window.icons = {
            columns: 'ion-md-menu',
            fullscreen: 'ion-md-expand',
            export: 'ion-md-download',
            detailOpen: 'ion-md-arrow-down',
            detailClose: 'ion-md-arrow-up',
            toggleOff: 'ion-md-arrow-up',
            toggleOn: 'ion-md-arrow-down'
        }

    .header
        a.pagetitle
          | Clients List
        .gradient
            .username #{user.username} 
                i.fa.fa-user-circle(aria-hidden='true').usernameicon
           
    .tablecontainer.table-sm
        #toolbar.addbutton
            button.primarybutton.right(onclick="location.href='/clients/create';") Add new
    
        table.table.btn-table.table-responsive.w-auto.table-striped.table-borderless(
            id="table"
            data-toggle="table"
            data-show-toggle="true"
            data-toolbar="#toolbar" 
            data-search="true" 
            data-show-refresh="false"
            data-show-fullscreen="true" 
            data-show-columns="true" 
            data-show-columns-toggle-all="true" 
            data-detail-view="true" 
            data-show-export="true" 
            data-detail-formatter="detailFormatter" 
            data-minimum-count-columns="2"  
            data-pagination="true" 
            data-page-list="[10, 25, 50, 100, all]" 
            data-show-footer="true"
            data-icons-prefix="icon"
            data-icons="icons"
            data-show-detail-view="true"
           )
            thead.bg-color
                tr 
                    th
                        button.btn.btn-teal.btn-rounded.btn-sm.m-0(type='button' aria-label="edit")
                    if getLoggedUserRole === 'admin'
                        th
                            button.btn.btn-teal.btn-rounded.btn-sm.m-0(type='button' aria-label="delete") 
                    th(data-sortable="true" data-field="clientName") Name
                    th(data-sortable="true" data-field="clientId") ClientID  
                    th(data-sortable="true" data-field="conditions") Conditions 
                    th(data-sortable="true" data-field="mobAids") Mob Aids 
                    th(data-sortable="true" data-field="prefSpaceType") Space Type
                    th(data-sortable="true" data-field="btt" data-visible="false") BTT
                    th(data-sortable="true" data-field="clientStatus") Active 
                    th(data-sortable="true" data-field="notes" data-visible="false") Notes
                    if getLoggedUserRole === 'admin'
                        th(data-sortable="true" data-field="deletedAt") deletedAt
                        th(data-sortable="true" data-field="updatedAt") updatedAt 
                    
            tbody
                
                each item in client_view
                    tr   
                        
                        td
                            a(href='/clients/update?clientId='+item.clientId title='Edit Profile')
                                i.fas.fa-pen.customedit
                        if getLoggedUserRole === 'admin'
                            td 
                                a(href='/clients/' + item.id + '/delete' title='Delete/Restore')
                                    i.fas.fa-trash.customedit   
                        td(align='center') #{item.clientName}
                        td(align='center') #{item.clientId}
                        td(align='center') #{item.conditions ? item.conditions.toString() : '-'}
                        td(align='center') #{item.mobAids ? item.mobAids.toString() : '-'}
                        td(align='center') #{item.prefSpaceType ? item.prefSpaceType.toString() : '-'}
                        td(align='center') #{item.btt}
                        td(align='center') #{item.clientStatus}
                        td(align='center') #{item.notes}
                        if getLoggedUserRole === 'admin'
                            td(align='center') #{item.deletedAt}
                            td(align='center') #{item.updatedAt}
            tfoot
                tr
                    th(colspan='12')
        

