extends layout

block content

    script.
        window.icons = {
            columns: 'ion-md-menu',
            fullscreen: 'ion-md-expand',
            export: 'ion-md-download',
            toggleOff: 'ion-md-arrow-down',
            toggleOn: 'ion-md-arrow-up'   
        }

    .topnav
        ul.breadcrumb
            li
                a(href='/settings') Settings
                    i.fa.fa-caret-right(aria-hidden='true')
            li Lookup List
        .gradient
            .username.userright #{user.username}
                i.fa.fa-user-circle(aria-hidden='true').usernameicon
        
    
    .tablecontainer.table-sm
        #toolbar.addbutton
            button.primarybutton.right(onclick="location.href='/lookuptables/create';") Add new value
        table.table.btn-table.table-responsive.w-auto.table-striped.table-borderless(
            id="table"
            data-toggle="table"
            data-show-toggle="true"
            data-toolbar="#toolbar" 
            data-search="true" 
            data-show-refresh="false"
            data-show-fullscreen="true" 
            data-show-columns="true" 
            data-show-columns-toggle-all="true" 
            data-detail-view="true" 
            data-show-export="true" 
            data-minimum-count-columns="2"  
            data-pagination="true" 
            data-page-list="[10, 25, 50, 100, all]" 
            data-show-footer="true"
            data-icons-prefix="icon"
            data-icons="icons"
            data-show-detail-view="false"

           )

            
            thead.bg-color
                tr 
                    th
                        button.btn.btn-teal.btn-rounded.btn-sm.m-0(type='button')
                    if getLoggedUserRole === 'admin'
                        th
                            button.btn.btn-teal.btn-rounded.btn-sm.m-0(type='button') 
                    th(data-sortable="true" data-field="id") Id
                    th(data-sortable="true" data-field="conditions") Condition Codes
                    th(data-sortable="true" data-field="conditionsDesc") Condition Code Desc
                    th(data-sortable="true" data-field="mobAids") Mob Aid Code
                    th(data-sortable="true" data-field="mobAidsDesc") Mob Aid Code Desc
                    th(data-sortable="true" data-field="prefSpaceType") Pref Space Type
                    th(data-sortable="true" data-field="prefSpaceTypeDesc") Pref Space Type Desc
                    if getLoggedUserRole === 'admin'
                        th(data-sortable="true" data-field="deletedAt") DeletedAt
                        th(data-sortable="true" data-field="updatedAt") UpdatedAt 

                    
            tbody
                each item in lookupdata
                    tr    
                      td
                          a(href='/lookuptables/update?id='+item.id data-toggle='tooltip' title='Edit Profile')
                               i.fas.fa-pen.customedit
                      if getLoggedUserRole === 'admin'
                          td 
                              a(href='/lookuptables/' + item.id + '/delete' data-toggle='tooltip' title='Delete/Restore')
                                  i.fas.fa-trash.customedit 
                      td(align='center') #{item.id}
                      td(align='center') #{item.conditions ? item.conditions.toString() : '-'}
                      td(align='center') #{item.conditionsDesc}
                      td(align='center') #{item.mobAids ? item.mobAids.toString() : '-'}
                      td(align='center') #{item.mobAidsDesc}
                      td(align='center') #{item.prefSpaceType ? item.prefSpaceType.toString() : '-'}
                      td(align='center') #{item.prefSpaceTypeDesc}
                      if getLoggedUserRole === 'admin'
                        td(align='center') #{item.deletedAt}
                        td(align='center') #{item.updatedAt}
